.grid-container-row{
    display                 : flex;
    flex-direction          : row;
    justify-content         : space-around;
}

.grid-container-item-grid{
    width                   : 90%;
    display                 : flex;
    flex-direction          : column;
    justify-content         : space-between;
    border-style            : dotted;
    border-width            : 5px;
    padding                 : 3%;
    margin                  : 3%;
}

.grid-container-grid{
    display                 : grid;
    grid-template-columns   : repeat(3,25%);
    grid-column-gap         : 3%;
    grid-row-gap            : 20px;
    justify-content         : center;
}