<div class="grid-container-row">
    <div class="grid-container-item-grid">
        <header>
            <h3><strong>{{book.Title}}</strong></h3>
            <h5>Fecha publicación: {{book.PublishDate | date:'dd/MM/yyyy'}}</h5>
        </header>
        <section>
            <br>
            {{book.Description}}
        </section>
        <footer>
            <hr>
            <h5>Id Libro: {{book.ID}}</h5>
            <h5>Total Páginas: {{book.PageCount}}</h5>
        </footer>
    </div>
</div>
<hr>
<h3>Autores Relacionados</h3>
<br>
<app-author-list class="grid-container-grid" [authors]="authors" ></app-author-list>
<hr>
<h3>Portadas Relacionados</h3>
<br>
<app-coverphoto-list class="grid-container-grid" [coverphotos]="coverphotos" ></app-coverphoto-list>
<br>
