<div class="grid-container-row">
    <div class="grid-container-item-grid-summary">
        <header>
            <nav>
                <ul class="grid-container-item-grid-summary-menu">
                    <li class="grid-container-item-grid-summary-menu-li" (click)="editauthorForm(author.ID,1)"><a><img src="/assets/img/editar.png"></a></li>
                    <li class="grid-container-item-grid-summary-menu-li" (click)="deleteItem(author.ID)"><a><img src="/assets/img/error.png"></a></li>
                </ul>
            </nav>
            <h3><strong>ID: {{author.ID}}</strong></h3>
        </header>
        <section class="grid-container-item-grid-summary__section">
            <br>
            {{author.FirstName + " " + author.LastName}}
        </section>
        <footer>
            <hr>
            <button type="button" (click)="viewauthorDetails(author.ID)">Detalle</button>
        </footer>
    </div>
</div>


