<div class="grid-container-row">
  <div class="grid-container-item">
      <a routerLink="books">
          <img class="grid-container-img" src="/assets/img/book.png">
          <p class="grid-container-p" >Libros</p>
      </a>
  </div>
  <div class="grid-container-item">
      <a routerLink="authors">
          <img class="grid-container-img" src="/assets/img/author.png">
          <p class="grid-container-p" >Autores</p>
      </a>
  </div>
  <div class="grid-container-item">
      <a routerLink="coverphotos">
          <img class="grid-container-img" src="/assets/img/cover.jpeg">
          <p class="grid-container-p" >Portadas</p>
      </a>
  </div>
</div>
