.grid-container-row{
    display                 : flex;
    flex-direction          : row;
    justify-content         : space-around;
}

.grid-container-item{
  margin                  : 40px;
  width                   : 25%;
  display                 : flex;
  flex-direction          : column;
  justify-content         : space-between;
  border-style            : dotted;
  border-width            : 5px;
  align-items             : center;
}

.grid-container-img{
  margin                  : 20px;
}

.grid-container-p{
  text-align              : center;
  font-size               :  35px;
  font-weight             : bold;
}
