
<div class="grid-container-row">
  <div class="grid-container-item-grid-summary">
      <header>
          <nav>
              <ul class="grid-container-item-grid-summary-menu">
                  <li class="grid-container-item-grid-summary-menu-li" (click)="editcoverphotoForm(coverphoto.ID,1)"><a><img src="/assets/img/editar.png"></a></li>
                  <li class="grid-container-item-grid-summary-menu-li" (click)="deleteItem(coverphoto.ID)"><a><img src="/assets/img/error.png"></a></li>
              </ul>
          </nav>
          <h3><strong>{{coverphoto.ID}}</strong></h3>
          <h3>Id Libro: {{coverphoto.IDBook}}</h3>
      </header>
      <section class="grid-container-item-grid-summary__section">
          <br>
          <img src={{coverphoto.Url}} alt="Imagen Portada"> 
      </section>
      <footer>
          <hr>
          <button type="button" (click)="viewcoverphotoDetails(coverphoto.ID)">Detalle</button>
      </footer>
  </div>
</div>
