.grid-container-row{
  display                 : flex;
  flex-direction          : row;
  justify-content         : space-around;
}

.grid-container-item-grid-summary{
  width                   : 90%;
  display                 : flex;
  flex-direction          : column;
  justify-content         : flex-start;
  border-style            : dotted;
  border-width            : 5px;
  padding                 : 3%;
  height                  : 582px;
}

.grid-container-item-grid-summary-menu{
  display                 : flex;
  justify-content         : flex-end;
  flex-direction          : row;
  list-style-type         : none;
}

.grid-container-item-grid-summary-menu-li{
  margin                  : 3px;
  cursor                  : pointer;
}

.grid-container-item-grid-summary__section{
   height                  : 425px;
   text-align			   : center;
}
