<div class="grid-container-column">
    <app-filter [options]="options" (order)="onOrderBy($event)" (filter)="onFilter($event)"></app-filter>
    <br>
    <h2>Libros</h2>
    <div><a (click)="newbookForm()" ><img src="/assets/img/mas.png"></a></div>
    <app-book-list class="grid-container-grid" [books]="books" [orderBy]="orderBy" [filter]="filter"></app-book-list>
    <br>
</div>
