
<div class="grid-container-row">
  <div class="grid-container-item-grid-summary">
      <header>
          <nav>
              <ul class="grid-container-item-grid-summary-menu">
                  <li class="grid-container-item-grid-summary-menu-li" (click)="editbookForm(book.ID,1)"><a><img src="/assets/img/editar.png"></a></li>
                  <li class="grid-container-item-grid-summary-menu-li" (click)="deleteItem(book.ID)"><a><img src="/assets/img/error.png"></a></li>
              </ul>
          </nav>
          <h3><strong>{{book.Title}}</strong></h3>
          <h5>Fecha publicación: {{book.PublishDate | date:'dd/MM/yyyy'}}</h5>
      </header>
      <section class="grid-container-item-grid-summary__section">
          <br>
          {{showSummary(book.Excerpt,0,150)}}
      </section>
      <footer>
          <hr>
          <h5>Id Libro: {{book.ID}}</h5>
          <h5>Total Páginas: {{book.PageCount}}</h5>
          <button type="button" (click)="viewbookDetails(book.ID)">Detalle</button>
      </footer>
  </div>
</div>
