
<form (submit)="submitForm()">
    <div class="grid-container-row">
        <div class="grid-container-item-grid">
            <h3>Editar Libro</h3>
            <label class="grid-container__form-label">
                Título:
                <input class="grid-container__form-input" type="text" [(ngModel)]="model.Title" name="Title" />
            </label>
            <br>
            <label class="grid-container__form-label">
                Fecha Publicación:
                <input  type="date"  [(ngModel)]="model.PublishDate" name="PublishDate" />
            </label>
            <br>
            <label class="grid-container__form-label">
                Total Páginas:
                <input  class="grid-container__form-input" type="number" [(ngModel)]="model.PageCount" name="PageCount" />
            </label>
            <br>
            <label class="grid-container__form-label">
                Extracto:
                <textarea  class="grid-container__form-textarea" [(ngModel)]="model.Excerpt" name="Excerpt" ></textarea>
            </label>
            <br>
            <label class="grid-container__form-label">
                Descripción:
                <textarea  class="grid-container__form-textarea" [(ngModel)]="model.Description" name="Description"></textarea>
            </label>
            <br>
            <button class="grid-container__form-submit" type="submit" >Grabar</button>
        </div>
    </div>
</form>
