.grid-container-column{
    display                 : flex;
    flex-direction          : column;
    padding                 : 3%;
}

.grid-container-grid{
    display                 : grid;
    grid-template-columns   : repeat(3,25%);
    grid-column-gap         : 3%;
    grid-row-gap            : 20px;
    justify-content         : center;
}
