<div class="grid-container-column">
    <app-filter [options]="options" (order)="onOrderBy($event)" (filter)="onFilter($event)"></app-filter>
    <br>
    <h2>Autores</h2>
    <div><a (click)="newauthorForm()" ><img src="/assets/img/mas.png"></a></div>
    <app-author-list class="grid-container-grid" [authors]="authors" [orderBy]="orderBy" [filter]="filter"></app-author-list>
    <br>
</div>
