<div class="grid-container-row">
    <div class="grid-container-item-grid">
        <header>
            <h3><strong>ID: {{author.ID}}</strong></h3>
        </header>
        <section>
            <br>
            {{author.FirstName + " " + author.LastName}}
        </section>
        <footer>
            <hr>
            <h5>Id Libro: {{author.IDBook}}</h5>
        </footer>
    </div>
</div>
