
<form (submit)="submitForm()">
    <div class="grid-container-row">
        <div class="grid-container-item-grid">
            <h3>Editar Portadas</h3>
            <label class="grid-container__form-label">
                ID:
                <input  class="grid-container__form-input" type="number" [(ngModel)]="model.ID" name="ID" />
            </label>
            <br>
            <label class="grid-container__form-label">
                ID Book:
                <input  class="grid-container__form-input" type="number" [(ngModel)]="model.IDBook" name="IDBook" />
            </label>
            <br>
            <label class="grid-container__form-label">
                Url:
                <input class="grid-container__form-input" type="text" [(ngModel)]="model.Url" name="Url" />
            </label>
            <br>
            <button class="grid-container__form-submit" type="submit" >Grabar</button>
        </div>
    </div>
</form>
