<div class="main-filter">
  <form class="grid-container-grid" name="myForm" novalidate>
      <div *ngFor="let option of options">
          <div>
              <label [for]="option.value" class="grid-container__form-label">{{option.text}}:</label><br>
              <input class="grid-container__form-input" (keyup)="onFilter(option.value,option.type,$event)" (change)="onFilter(option.value,option.type,$event)" [type]="option.type"  [id]="option.value" [name]="option.value"  />
          </div>
      </div>
      <div>
          <label>Ordenar por: </label><br>
          <select (change)="onChangeOrderBy($event)">
            <option *ngFor="let option of options" [value]="option.value">{{option.text}}</option>
          </select>
      </div>
  </form>
</div>
