.main-filter{
    border-style            : dotted;
    border-width            : 5px;
    padding                 : 5px;
}

.grid-container-grid{
  display                 : grid;
  grid-template-columns   : repeat(3,25%);
  grid-column-gap         : 3%;
  grid-row-gap            : 20px;
  justify-content         : center;
}

.grid-container__form-label{
  width                   : 100px;
}

.grid-container__form-input {
  width                   : 150px;
}
