.main-header__menu{
  list-style-type         : none;
  margin                  : 0;
  padding                 : 0 5% 0 5%; /** Buscamos el efecto de nostrar el menú a lo largo de la index **/
  border-bottom           : 1px solid #E0E0E0;
  border-top              : 1px solid #E0E0E0;
  background              : #FFFFFF;
  box-shadow              : 5px 5px 2.5px grey;
}

.main-header__menu-item{
  display                 : inline-block; /** Creamos el menú horizontal **/
  text-align              : center;
  padding                 : 15px;
  border-right            : 1px solid #E0E0E0;  /** Solo el borde derecho, para que no sobre-escriba el borde general **/
}
