<nav>
    <ul class="main-header__menu">
        <li class="main-header__menu-item"><a routerLink="" type="button">Inicio</a></li>
        <li class="main-header__menu-item"><a routerLink="books" type="button">Libros</a></li>
        <li class="main-header__menu-item"><a routerLink="authors" type="button">Autores</a></li>
        <li class="main-header__menu-item"><a routerLink="coverphotos" type="button">Portadas</a></li>
    </ul>
</nav>

