.main-header__logo{
  margin                  : 0 5% 0 5%; /** Todos los hijos separados top,right,button,left **/
}

.main-container{
  /** Generamos el layout principal en forma de columnas **/
  display                 : flex;
  flex-direction          : column;
  justify-content         : space-between;
  background              : transparent;
  width                   : 100%;
}

.main-section{
  margin                  : 0 5% 0 5%; /** Todos los hijos separados top,right,button,left **/
  background              : #FFFFFF;
  box-shadow              : 5px 5px 2.5px grey;
  width                   : 90%;
}

.main-footer{
  margin                  : 3% 5% 0 5%; /** Todos los hijos separados top,right,button,left **/
}
