<div class="main-container">
  <header>
      <h1 class="main-header__logo">Api Angular</h1>
      <br>
      <app-menu></app-menu>
  </header>
  <br>
  <section class="main-section">
    <router-outlet></router-outlet>
  </section>
  <footer class="main-footer">
      <hr>
      <p><b>Ejemplo de front-end para la API REST <a href="https://fakerestapi.azurewebsites.net">FakeRestAPI.Web</a></b></p>
      <p>Desarrollado por: Juan Carlos Frutos | Alexander Vicente | Maritza M. Bravo | Jesús Nieto </p>
  </footer>
</div>
