<div class="grid-container-row">
    <div class="grid-container-item-grid">
        <header>
            <h3><strong>{{coverphoto.ID}}</strong></h3>
        </header>
        <section>
            <br>
            <img src={{coverphoto.Url}} alt="Imagen Portada"> 
        </section>
        <footer>
            <hr>
            <h5>Id Libro: {{coverphoto.IDBook}}</h5>
        </footer>
    </div>
</div>
