.grid-container-row{
    display                 : flex;
    flex-direction          : row;
    justify-content         : space-around;
}

.grid-container-item-grid{
    width                   : 90%;
    display                 : flex;
    flex-direction          : column;
    justify-content         : space-between;
    border-style            : dotted;
    border-width            : 5px;
    padding                 : 3%;
    margin                  : 3%;
}
