<form (submit)="submitForm()">
    <div class="grid-container-row">
        <div class="grid-container-item-grid">
            <h3>Nuevo Autor</h3>
            <label class="grid-container__form-label">
                IDBook:
                <input class="grid-container__form-input" type="text" name="IDBook" [(ngModel)]="model.IDBook"/>
            </label>
            <br>
            <label class="grid-container__form-label">
                FirstName:
                <input class="grid-container__form-input" type="text" name="FirstName" [(ngModel)]="model.FirstName"/>
            </label>
            <br>
            <label class="grid-container__form-label">
                LastName:
                <input class="grid-container__form-input" type="text" name="LastName" [(ngModel)]="model.LastName"/>
            </label>
            <br>
            <button class="grid-container__form-submit" type="submit" >Grabar</button>
        </div>
    </div>
</form>
