<div class="grid-container-column">
    <app-filter [options]="options" (order)="onOrderBy($event)" (filter)="onFilter($event)"></app-filter>
    <br>
    <h2>Portadas</h2>
    <div><a (click)="newcoverphotoForm()" ><img src="/assets/img/mas.png"></a></div>
    <app-coverphoto-list class="grid-container-grid" [coverphotos]="coverphotos" [orderBy]="orderBy" [filter]="filter"></app-coverphoto-list>
    <br>
</div>
